.table {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__header {
    display: flex;
    align-items: center;
  }
  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }
}

.country__name {
  margin: 0;
  margin-left: 0.6rem;
  font-size: 2.5rem;
  color:#f3f3f3;
}

.flag__img {
  width: 3rem;
  height: 1.5rem;
}

.country__rates {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
}

.country__numbers {
  color: #ff1818;
}

.total__btn {
  width: 70%;
}
.total__cases_btn {
  width: 100%;
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem; 
  background: #797979;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: #fff;
  &:hover {
    cursor: pointer;
  }
}